[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi.tsinghua"

[packages]
loguru = "*"
dynaconf = "*"
pywin32 = "*"
requests = "*"

[dev-packages]
isort = "*"
pytest = "*"
pyinstaller = "*"
genshin = {editable = true, path = "."}
flake8 = "*"

[requires]
python_version = "3.7"
